extends layout

block content
  .container
    .jumbotron
      .container 
        h1 About Me
        p Feel free to contact me at my Discord (Nidhish#1295) or Gmail (nidhishgereddy@gmail.com).
        a.btn.btn-primary.btn-lg(href="https://discord.gg/w3x8tqgdc7") Learn more &raquo;
    .container 
      .row
        .col-md-4
          h2 About
          p I am a Nodejs developer who mostly creates discord bots. I like gaming, mostly shooter games. I help people with their code so DM me for any questions!
          a.btn.btn-default(href = 'https://discord.gg/w3x8tqgdc7') Hangout Server
        .col-md-4
          h2 Services
          p I create custom discord bots. I can do mainly any feature that you ask. Join my server below for pricing.
          a.btn.btn-default(href='https://discord.gg/TcZtDZVQPf') CUstom Bot Server 
        .col-md-4
