    <link rel="icon" type="gif" sizes="300x250" href="https://cdn.discordapp.com/attachments/851508427531878451/866501785199837194/pfp.gif">

<div class="container">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>

</div>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"><a href="/" class="navbar-brand">Home</a>
        <button type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"> </span></button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a href="/about" class="nav-link"> About Me<span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a href="/projects" class="nav-link">Projects</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
          </ul>
        </div>
        <!--  li.nav-item(class=(title === 'darkmode' ? 'active' : ''))
        <a id="light-theme" onclick="light()">Light</a>
        a.nav-link(onclick="dark()") dark
        
        --><a href="/discordserver" class="fab fa-discord"></a>
        <a href="https://open.spotify.com/user/hjfdhopch6gxjkuifiux7bscf" class="fab fa-spotify"></a>
        <a href="/github" class="fab fa-github"></a>
        <a href="/paypal" class="fab fa-paypal"></a>
      </nav>
    </header>
    <br>
<h1>Contact</h1>
<form method="post" action="contact/send">
  <div class="form-group">
    <label for="Name">Name</label>
    <input id="Name" type="text" name="name" aria-describedby="Name" placeholder="Enter Name" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="Email">Email</label>
    <input id="Email" type="email" name="email" placeholder="Email" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="Message">Message</label>
    <input id="Message" type="text" name="message" placeholder="Message" class="form-control"/>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>