extends layout

block content
  .container
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

    .jumbotron
      .container 
        h1 Home 
        
        p I am Nidhish, I made this website so you could  get to know me a bit more!
        a.btn.btn-primary.btn-lg(href="/about") Learn more &raquo;

    .container 
      .row
      


    




