<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" type="gif" sizes="300x250" href="https://cdn.discordapp.com/attachments/851508427531878451/866501785199837194/pfp.gif">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"><a href="/" class="navbar-brand">Home</a>
        <button type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"> </span></button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a href="/about" class="nav-link"> About Me<span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a href="/projects" class="nav-link">Projects</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
          </ul>
        </div><a href="/twitch" class="fa fa-twitch"></a>
        <a href="/github" class="fa fa-github"></a>
        <a href="/paypal" class="fa fa-paypal"></a>
      </nav>
    </header>
    <footer>
      <p> </p>
    </footer>
  </body>
</html>