extends layout

block content
  .container
    .jumbotron
      .container 
        h1 Projects
        p Here are some of my projects that are mostly coded in Nodejs.
        a.btn.btn-primary.btn-lg(href="/nodejs") Nodejs&raquo;
        a.btn.btn-primary.btn-lg(href="/discordjs") Discord.js &raquo;

    .container 
      .row
        .col-md-4
          
          h2 Hype-v2
          p Hype-v2 is an great discord bot made by me. It is made in Discord.js and Nodejs.
          a.btn.btn-default(href = '/topgg') Top.gg
        .col-md-4
          h2 Djs-fun
          p Djs-fun is a npm package meant for Discord.jsv13. It has a lot of cool features to boost your discord bot!
          a.btn.btn-default(href='/djsfun') View Package 
        .col-md-4
          h2 Nidhishpackage
          p Nidhishpackage is a npm package meant for normal Discord.js. It has a lot of cool features to boost your discord bot!
          a.btn.btn-default(href='/np') View Package 
        .col-md-4

